<%= render "items/index" %>
<%= link_to "+", new_admin_item_path %>
<h2>商品一覧</h2>
<table>
  <tbody>
    <% @items.each do |item| %>
     <tr>
      <td><%= item.item_name %></td>
      <td><%= item.item_introduction %></td>
      <td><%= item.price %></td>
     </tr>
    <% end %>
  </tbody>
</table>