<h1>Public::Orders#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>

<h3>注文情報入力</h3>
<h5>支払方法</h5>

<%= form_with model: @order, url: confirm_public_orders_path, method: :post do |f| %>
  <%= f.radio_button :payment_method, :credit_card , checked: true %>
  <%= f.label :payment_method, "クレジットカード", value: :credit_card %>
  <%= f.radio_button :payment_method, :transfer %>
  <%= f.label :payment_method, "銀行振込", value: :transfer %>

<h5>お届け先</h5>
  <%= f.radio_button :adress_option, 0 , checked: true %>
  <%= f.label :adress_option, "ご自身の住所", value: 0 %><br />
  <%= @customer.adress %>

  <%= f.submit "確認画面へ進む" %>
<% end %>