<%= render 'items/index' %>

<h2>商品一覧</h2>
<table>
  <tbody>
    <% @items.each do |item| %>
      <div class="float3">
        <%= image_tag item.get_image, class: 'item_image' %>
        <h5><%= link_to item.item_name, public_item_path(item.id) %></h5>
        <p><%= item.item_introduction %></p>
        <p><%= item.price.to_s(:delimited) %>円</p>
      </div>
    <% end %>
  </tbody>
</table>


<p>ご購入の際はカートから注文に進んでください。</p>