<%= render 'items/index' %>

<h2>商品一覧</h2>
<table>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.get_image, class: 'item_image' %></td>
        <td><%= link_to item.item_name, public_item_path(item.id) %></td>
        <td><%= item.item_introduction %></td>
        <td><%= item.price.to_s(:delimited) %>円</td>
      </tr>
    <% end %>
  </tbody>
</table>


<p>ご購入の際はカートから注文に進んでください。</p>